<!DOCTYPE html>
<html>
<head>
    <title>Registry Analysis</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h2 class="center">Registry Analysis</h2>

<div class="upload-box">
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="registry_file" required>
        <button type="submit">Analyze</button>
    </form>
</div>

{% if output %}
<hr>
<h3>RegRipper Output</h3>
<pre>
{% for line in output %}
{{ line }}
{% endfor %}
</pre>
{% endif %}

</body>
</html>
